[submodule "submodules/aris-file-sdk"]
	path = submodules/aris-file-sdk
	url = https://github.com/SoundMetrics/aris-file-sdk
[submodule "submodules/protobuf"]
	path = submodules/protobuf
	url = https://github.com/google/protobuf.git
