<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="fracas" version="1.0.2-beta" targetFramework="net472" />
  <package id="FSharp.Core" version="4.6.2" targetFramework="net472" />
  <package id="Google.Protobuf" version="3.5.1" targetFramework="net472" />
  <package id="Serilog" version="2.8.0" targetFramework="net472" />
  <package id="Serilog.Sinks.Console" version="3.1.1" targetFramework="net472" />
  <package id="SoundMetrics.Aris.Headers" version="1.0.1-beta" targetFramework="net472" />
  <package id="System.Reactive" version="4.1.5" targetFramework="net472" />
  <package id="System.Reactive.Linq" version="4.1.2" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
  <package id="System.Threading.Tasks.Dataflow" version="4.9.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>